
<div class="container">
    <div class="well col-md-6 col-md-offset-3" style="margin-top: 40px;">
        <form method="post" action="/Home/AddImage">
            <h4>Add New Image:</h4>
            <br />
            <div class="row">
                <input class="form-control" placeholder="Title" name="title" />
            </div>
            <br />
            <div class="row">
                <input class="form-control" placeholder="Image URL" name="imageUrl" />
            </div>
            <br />
            <div class="row">
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
        </form>
    </div>    
</div>

