@using ImagePost.Data
@model List<Image>

<div class="row" style="margin-top: 30px;">
    <div id="images" class="col-md-6 col-md-offset-3">
        @foreach (Image i in Model)
        {
        <div class="well">
            <a href="/Home/Enlarged?imgId=@i.Id" style="font-size: 30px;">@i.Title</a>
            <h5>Posted on @i.DatePosted.ToLongDateString() at @i.DatePosted.ToShortTimeString()</h5>
            <a href="/Home/Enlarged?imgId=@i.Id"><img src="@i.ImageUrl" style="width: 515px;" /></a>
        </div>
        }
    </div>
</div>
